.nav_box{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.30667rem;
    width: 100%;
    display: flex;
    a{
        flex: 1;
        display: block;
        margin-top: .09333rem;
        font-size: .32rem;
        color: #666;
        text-decoration: none;
    }
}